<!-- mailing_list.html -->

{% extends 'mailer/base.html' %}

{% block title %} Сервис рассылок : Рассылки {% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6">Рассылки:</h1>
</div>

<!--Список рассылок-->
{% if messages %}

<div class="messages text-center">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

{% endif %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for mailing in mailings %}

        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header text-center">
                    <h4 class="my-0 font-weight-normal"><img src="/media/mailer_images/mailing_icon.png" class="leftimg" style="height: 30px;">
                        ID {{ mailing.id }}:
                        {{ mailing.message.title | truncatechars:40}}</h4>
                </div>
                <div class="card-body">
                    <p><strong>Текс сообщения:</strong><br>{{ mailing.message.content|truncatechars:300 }}</p>
                    <p><strong>Status:</strong> {{ mailing.get_status_display }}</p>

                    <div class="row row-cols-1 row-cols-md-3 g-1">
                    {% if user == mailing.owner and not mailing.is_disabled %}
                        <div class="col">

                            {% if mailing.status != "Launched" %}
                            <a href="{% url 'mailer:mailing_launch' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Запустить
                                </button>
                            </a>
                            {% else %}
                            <a href="{% url 'mailer:mailing_complete' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Завершить
                                </button>
                            </a>
                            {% endif %}
                        </div>
                        {% if mailing.status != "Completed" %}
                        <div class="col">
                            <a href="{% url 'mailer:mailing_run' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Отправить
                                </button>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}

                        {% if mailing.status != "Created" %}
                        <div class="col">
                            <a href="{% url 'mailer:mailing_stats_detail' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Статистика
                                </button>
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row row-cols-2 row-cols-md-3 g-4 mt-0">
                        <div class="col">
                            <a href="{% url 'mailer:mailing_detail' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Просмотреть
                                </button>
                            </a>
                        </div>
                        {% if user == mailing.owner %}
                        <div class="col">
                            <a href="{% url 'mailer:mailing_update' mailing.id %}">
                                <button type="button" class="btn btn-md btn-block btn-outline-primary">
                                    Редактировать
                                </button>
                            </a>
                        </div>
                        <div class="col">
                            <div class="mt-auto d-flex justify-content-end">
                                <a class="btn btn-danger" href="{% url 'mailer:mailing_delete' mailing.id %}"
                                   role="button">Удалить</a>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    {% if is_manager %}
                    <div class="row row-cols-2 row-cols-md-1 g-4 mt-0">
                        <div class="col">
                            <div class="mt-auto d-flex justify-content-center">
                                {% if mailing.is_disabled %}
                                <a class="btn btn-primary" href="{% url 'mailer:mailing_disable_switch' mailing.id %}"
                                    role="button">Включить_рассылку</a>
                                {% else %}
                                <a class="btn btn-danger" href="{% url 'mailer:mailing_disable_switch' mailing.id %}"
                                    role="button">Отключить_рассылку</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>

                {% if mailing.is_disabled %}
                <div class="card-footer text-white bg-danger text-center">
                    Рассылка отключена! Обратитесь к менеджеру!
                </div>
                {% endif %}
            </div>
        </div>

        <!--        {#% endif %}-->

        {% endfor %}
    </div>
    <div class="text-center">
        <a class="btn btn-primary btn-lg shadow" href="{% url 'mailer:mailing_create' %}" role="button">Добавить рассылку</a>
        <br>
    </div>
</div>
<!--Список продуктов - конец-->

{% endblock %}