<!-- password_reset_confirm_form.html -->

{% extends 'mailer/base.html' %}

{% block content %}

<div class="messages text-center">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="container mt-5">
    <h3 align="center">Подтверждение восстановления пароля</h3>
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <label for="temp_password">Временный пароль:</label>
                    <input type="password" name="temp_password" id="temp_password" required>
                    <label for="new_password">Новый пароль:</label>
                    <input type="password" name="new_password" id="new_password" required>
                    <button type="submit" class="btn btn-primary btn-block">Подтвердить</button>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
