<!-- password_reset_request_form.html -->

{% extends 'mailer/base.html' %}

{% block content %}

<div class="messages text-center">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>

<div class="container mt-5">
    <h3 align="center">Восстановление пароля</h3>
    <form class="row justify-content-center" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Отправить временный пароль
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
